node_modules/
packages/*/node_modules
packages/*/package-lock.json
packages/*/lib
packages/*/dist
packages/*/.rts2_cache_cjs
packages/*/.rts2_cache_esm
packages/testing/screenshots
packages/testing/ganache_db
packages/testing/videos
packages/testing/snapshots
lerna-debug*
.vscode/
package-lock.json
.DS_Store

packages/pages/.env.production
