html {
  font-size: 14px;
}

body,
html {
  /*background: #eceff4;*/
  height: 100%;
  width: 100%;
  background: white;
}

body.hidescroll {
  overflow-y: hidden;
}

*:not(.icon) {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

#root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.6) !important;
}

.Toastify__toast {
  background: rgba(0, 0, 0, 0.9) !important;
  border-radius: 6px !important;
  color: white !important;
  padding-left: 20px;
  font-weight: bolder;
}

.Toastify__close-button {
  color: white;
}

.ui.header,
.ui.statistic > .label,
.ui.statistic > .value {
  color: rgba(0, 0, 0, 0.6) !important;
}

.ui.statistic > .label {
  font-weight: lighter;
}
#root .ui.toggle.checkbox input:checked ~ .box:before,
#root .ui.toggle.checkbox input:checked ~ label:before {
  background-color: #6851d8 !important;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-1%);
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 250ms ease-in;
}

.preload-zendesk {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 45px;
  background-color: rgb(235, 63, 147);
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  color: rgb(54, 15, 34);
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', Arial, sans-serif;
  font-feature-settings: 'kern', 'kern';
  font-kerning: normal;
  font-size: 15px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 700;
  height: 45.9688px;
  max-width: 100%;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 13px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 13px;
  border: none;
  border-radius: 13px;
}
