@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:900&text=“");
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: linear-gradient(180deg, #f9f9f9 0%, #fff 100%);
}
body.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
}
body main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
body main header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  z-index: 999;
  background-color: #fff;
  transition: transform 0.3s ease-out;
  transform: translateY(-110%);
}
body main header.visible {
  transform: translateY(0%);
}
body main header .content {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
body main header .content #logo-raise {
  width: 150px;
  height: 50px;
  margin-top: 20px;
}
body main header .content .buttons {
  float: right;
}
body main header .content .buttons button {
  height: 40px;
  margin-top: 25px;
}
body main header .content .buttons button#login {
  width: 110px;
  margin-right: 20px;
}
body main header .content .buttons button#signup {
  width: 130px;
}
body main button {
  background-color: #fff;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  padding: 0.8rem 0;
  pointer-events: auto;
  cursor: pointer;
  transition: all 0.12s ease-out;
}
body main button.colored {
  background-color: #eb3f93;
  border-color: #eb3f93;
  color: #fff;
}
body main button.colored:hover {
  background: #fff;
  border-color: #eb3f93;
  color: #eb3f93;
}
body main button.lp-get-started {
  background: linear-gradient(134.72deg, #00a76f 0%, #00da9e 100%);
  border-color: #fff;
  color: #fff;
}
body main button.lp-get-started:hover {
  background: #fff;
  border-color: #0ba76e;
  color: #0ba76e;
}
body main button.white {
  background-color: #fff;
  border-color: #cfd0d4;
  color: #3c4251;
}
body main button.white:hover {
  background-color: #cfd0d4;
  color: #fff;
}
body main #background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  pointer-events: none;
  overflow: hidden;
}
body main #background #floating-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-out;
}
body main #background #floating-elements .segment {
  position: absolute;
  top: 0;
  left: 50%;
}
body main #background #floating-elements .segment#segment1 {
  width: 1504px;
  height: 1453px;
  top: 92%;
  transform: translateX(-12%);
}
body main #background #floating-elements .segment#segment2 {
  width: 1504px;
  height: 1453px;
  top: 64%;
  transform: scale(0.5) translateX(-206%);
}
body main #background #floating-elements .segment#segment3 {
  width: 1504px;
  height: 1453px;
  top: 33%;
  transform: scale(0.6) translateX(5%);
}
body main #background #floating-elements .segment#segment4 {
  width: 1504px;
  height: 1453px;
  top: 13%;
  transform: scale(0.5) translateX(-200%);
}
body main #background #floating-elements .segment#segment5 {
  width: 1504px;
  height: 1453px;
  top: -7%;
  transform: scale(0.6) translateX(28%);
}
body main #background section {
  width: 100%;
  height: 100vh;
  position: relative;
}
body main #background section#home #city {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2560px;
  height: 300px;
  overflow: visible;
  margin-left: calc(2560px * -0.5);
  mix-blend-mode: multiply;
}
body main #background section#home #city .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body main #background section#home #city .layer#clouds {
  z-index: 1;
}
body main #background section#home #city .layer#buildings-far {
  z-index: 2;
}
body main #background section#home #city .layer#buildings-near {
  z-index: 3;
}
body main #background section#footer {
  background-image: linear-gradient(#041d45 0%, #044d74 80%, rgba(4,77,116,0) 100%);
}
body main #background section#footer #sky {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2560px;
  height: 370px;
  overflow: visible;
  margin-left: calc(2560px * -0.5);
  mix-blend-mode: screen;
}
body main #background section#footer #sky .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body main #background section#footer #sky .layer#stars {
  z-index: 1;
}
body main #background section#footer #sky .layer#stela {
  z-index: 2;
}
body main #background section#footer #sky .layer#planets {
  z-index: 3;
  top: -75px;
}
body main #background section#footer #sky .layer#rocket {
  z-index: 4;
}
body main [aria-label="animation"] {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 2;
}
body main [aria-label="animation"].fixed {
  position: fixed;
  top: 0;
}
body main [aria-label="animation"] svg {
  width: 1000px !important;
  height: 500px !important;
  transform: translateY(-100px);
}
body main #sections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  color: #5c5d5d;
  z-index: 3;
  display: flex;
  flex-direction: column-reverse;
}
body main #sections h1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5rem;
  line-height: 6rem;
}
body main #sections h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.6rem;
  line-height: 3.6rem;
}
body main #sections h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.2rem;
  line-height: 3.2rem;
}
body main #sections h4 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
body main #sections section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 30vh 0;
  text-align: center;
  background: transparent;
}
body main #sections section .content {
  max-width: 800px;
  margin: 5vh auto;
  position: inherit;
}
body main #sections section picture {
  display: block;
  background-color: rgba(255,255,255,0.5);
}
body main #sections section#home {
  text-align: left;
}
body main #sections section#home h1 {
  max-width: 62rem;
}
body main #sections section#home h4 {
  margin-top: 0.7rem;
  margin-bottom: 2.2rem;
  width: 100%;
  max-width: 377px;
}
body main #sections section#home button.colored {
  width: 170px;
  height: 48px;
}
body main #sections section#how {
  text-align: left;
}
body main #sections section#how h4 {
  margin: 4rem 0 2.3rem 0;
  width: 100%;
  max-width: 678px;
}
body main #sections section#how #infography {
  height: 392px;
  width: 810px;
  background-color: #fff;
  box-shadow: 0 0 26px 0 rgba(217,217,217,0.61);
}
body main #sections section .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
body main #sections section .cards .card {
  position: relative;
  align-self: flex-start;
}
body main #sections section#lender {
  text-align: center;
}
body main #sections section#lender h1 {
  margin-bottom: 4rem;
}
body main #sections section#lender .cards {
  margin-bottom: 60px;
}
body main #sections section#lender .cards .card {
  width: 270px;
  height: 342px;
  margin: 0 35px;
  background-color: #fff;
  box-shadow: 0 0 26px 0 rgba(217,217,217,0.61);
}
body main #sections section#lender .cards .card picture {
  display: block;
  height: 180px;
  width: 100%;
  border: 1px solid #cfd0d4;
}
body main #sections section#lender .cards .card .text {
  padding: 3.2rem 4rem 0 4rem;
}
body main #sections section#lender button.colored {
  width: 290px;
  height: 68px;
}
body main #sections section#borrow .columns {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: left;
  margin-top: 40px;
}
body main #sections section#borrow .columns .column {
  position: relative;
  align-self: flex-start;
}
body main #sections section#borrow .columns .column#col-1 {
  width: 290px;
  margin-right: 66px;
}
body main #sections section#borrow .columns .column#col-1 h3 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 40px;
  margin-bottom: 40px;
}
body main #sections section#borrow .columns .column#col-1 button.colored {
  width: 100%;
  height: 68px;
}
body main #sections section#borrow .columns .column#col-2 picture {
  height: 307px;
  width: 455px;
  border: 1px solid #d7dee4;
}
body main #sections section#testimonials .cards {
  margin: 90px 0px 30px 0px;
}
body main #sections section#testimonials .cards .card {
  text-align: left;
  width: 358px;
  height: 303px;
  padding: 10rem 5rem 0 2rem;
  background-color: rgba(232,232,232,0.5);
  border-radius: 13px;
  margin: 0 20px;
}
body main #sections section#testimonials .cards .card p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}
body main #sections section#testimonials .cards .card p:before {
  content: '“';
  font-size: 12.2rem;
  line-height: 14.6rem;
  font-weight: 900;
  position: absolute;
  top: 2.4rem;
  left: 2rem;
}
body main #sections section#keypoints .cards {
  margin: 90px 0px 30px 0px;
}
body main #sections section#keypoints .cards .card {
  width: 200px;
  text-align: center;
  margin: 0 40px;
}
body main #sections section#keypoints .cards .card picture {
  display: block;
  height: 120px;
  width: 100%;
  border: 1px solid #cfd0d4;
  border-radius: 4px;
  margin-bottom: 20px;
}
body main #sections section#keypoints .cards .card p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
body main #sections section#keypoints button.colored {
  width: 290px;
  height: 68px;
  margin: 30px 0 20px 0;
}
body main #sections section#keypoints a {
  color: #0ba76e;
  text-decoration: none;
  display: block;
}
body main #sections section#keypoints a:hover {
  color: #cfd0d4;
}
body main #sections footer {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: left;
  padding-top: 50vh;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body main #sections footer .content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 5vw;
  position: inherit;
}
body main #sections footer .content nav {
  display: grid;
  grid: 'myArea myArea' '. .' '. .';
  grid-gap: 2.8rem;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
}
body main #sections footer .content nav a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.8rem;
  text-decoration: none;
}
body main #sections footer .content nav a:hover {
  text-decoration: underline;
}
body main #sections footer .content nav a:first-child {
  grid-area: myArea;
}
